/* TABLE OF CONTENTS 

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QURIES
    # CUSTOM SEMANTIC GRID SYSTEM
#STRUCTURE
    #SITE HEADER
    #SITE NAV
    #MAIN
        #SECTIONS
    #SITE FOOTER  



*/
/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.9); }

h1, h2, h3, h4, h5, h6 {
  color: black; }

/* BASE TEXT FONTS */
body {
  font-family: hypatia-sans-pro, helvetica, arial; }

h1, h2, h3, h4, h5, h6 {
  font-family: ivypresto-display, serif;
  font-weight: 900;
  font-style: normal; }

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 .5em 0; }

/* TRADITIONAL TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1; }

/* 48 / 16 = 3em */
h2 {
  font-size: 2.25em;
  line-height: 1.1; }

/* 36 / 16 = 2.25em */
h3 {
  font-size: 1.5em;
  line-height: 1.2; }

/* 24 / 16 = 1.5em */
h4 {
  font-size: 1.3125em;
  line-height: 1.3; }

/* 21 / 16 = 1.3125em */
h5 {
  font-size: 11.125em;
  line-height: 1.4; }

/* 18 / 16 = 1.125em */
h6 {
  font-size: 1em;
  line-height: 1.5; }

/* 16 / 16 = 1em */
/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 30em; }

/* LINKS */
a {
  color: #3872dd;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease; }
  a:hover {
    color: #264d94; }

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0; }

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  color: red; }

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.4);
  margin: .25 0;
  line-height: 1.1; }

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: hypatia-sans-pro, helvetica, arial;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 3em 0; }

/* BUTTONS */
.button, button {
  border: none;
  display: inline-block;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  position: relative;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
  font-size: 15px;
  background-color: #d0a747;
  padding: 1em;
  margin: 1em 0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px; }
  .button span, button span {
    position: relative;
    z-index: 10; }
  .button:hover, button:hover {
    color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  .button:after, button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-110%) translateY(-10%) rotate(45deg);
    -ms-transform: translateX(-110%) translateY(-10%) rotate(45deg);
    transform: translateX(-110%) translateY(-10%) rotate(45deg); }

.below-menu {
  margin-top: 3em; }
  .below-menu:after {
    -webkit-transform: translateX(-120%) translateY(-10%) rotate(45deg);
    -ms-transform: translateX(-120%) translateY(-10%) rotate(45deg);
    transform: translateX(-120%) translateY(-10%) rotate(45deg); }
  .below-menu:hover::after {
    -webkit-transform: translateX(-20%) translateY(-25%) rotate(45deg);
    -ms-transform: translateX(-20%) translateY(-25%) rotate(45deg);
    transform: translateX(-20%) translateY(-25%) rotate(45deg); }

.playlist:after {
  -webkit-transform: translateX(-120%) translateY(-5%) rotate(45deg);
  -ms-transform: translateX(-120%) translateY(-5%) rotate(45deg);
  transform: translateX(-120%) translateY(-5%) rotate(45deg); }

.playlist:hover::after {
  -webkit-transform: translateX(-30%) translateY(-25%) rotate(45deg);
  -ms-transform: translateX(-30%) translateY(-25%) rotate(45deg);
  transform: translateX(-30%) translateY(-25%) rotate(45deg); }

.below-coffee:after {
  -webkit-transform: translateX(-95%) translateY(-5%) rotate(45deg);
  -ms-transform: translateX(-95%) translateY(-5%) rotate(45deg);
  transform: translateX(-95%) translateY(-5%) rotate(45deg); }

.below-coffee:hover::after {
  -webkit-transform: translateX(-30%) translateY(-25%) rotate(45deg);
  -ms-transform: translateX(-30%) translateY(-25%) rotate(45deg);
  transform: translateX(-30%) translateY(-25%) rotate(45deg); }

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto; }

/*  RESET BODY */
body {
  margin: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 1; }

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em; }

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; } }

/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -2%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3em; }
  .row > * {
    margin: 1%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .row.centered {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .row.swapped {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .row.stacked {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .row.align-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  @media (min-width: 768px) {
    .row > * {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0; }
    .row .one-whole {
      width: 98%; }
    .row .one-half {
      width: 48%; }
    .row .one-third {
      width: 31.3333%; }
    .row .two-thirds {
      width: 64.6666%; }
    .row .one-fourth {
      width: 23%; }
    .row .three-fourths {
      width: 73%; }
    .row .one-fifth {
      width: 18%; }
    .row .two-fifths {
      width: 38%; }
    .row .three-fifths {
      width: 58%; }
    .row .push-one-fourth {
      margin-left: 26%; }
    .row .push-one-third {
      margin-left: 34.3333%; }
    .row .push-one-half {
      margin-left: 51%; }
    .row .centered {
      margin-left: auto;
      margin-right: auto; } }

.demo .row {
  margin-bottom: 0; }
  .demo .row > * {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1%; }

/* SITE STRUCTURE */
body {
  background-color: rgba(0, 0, 0, 0.9); }

.site-header {
  position: absolute;
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .site-header a {
    color: black;
    text-decoration: none; }
  .site-header h1 {
    font-size: 1.5em;
    margin: 0; }
  .site-header .site-id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .site-header .logo {
    max-width: 50px; }

/* SITE-FOOTER */
.site-footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1em; }
  .site-footer a {
    color: whitesmoke;
    text-decoration: none;
    padding: 1em; }
  .site-footer ul {
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }

.site-main {
  overflow-x: hidden; }

section {
  padding: 1em 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 768px) {
    section {
      min-height: 100vh; } }

#section-1 {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2em;
  border-radius: 20px;
  z-index: 2; }
  #section-1 .row {
    margin: 0; }
  #section-1 h2 {
    color: #d0a747;
    font-size: 2.6em;
    margin: auto; }
  #section-1 h3 {
    color: darkgrey;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    margin: auto; }
  #section-1 p {
    font-family: hypatia-sans-pro;
    line-height: 1.3;
    margin-top: 10px;
    max-width: 90%; }
  #section-1 img {
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); }

#section-2 {
  position: relative; }
  #section-2 .menu {
    text-align: center;
    width: auto;
    margin-top: 0; }
  #section-2 .button {
    -webkit-transition: 250ms ease;
    -o-transition: 250ms ease;
    transition: 250ms ease; }
  #section-2 img.shaker {
    position: absolute;
    top: -10%;
    left: -20%;
    width: 50%; }
  #section-2 img.drink-1 {
    position: absolute;
    width: 30%;
    right: 0;
    top: 20%; }
  #section-2 h2 {
    color: #d0a747;
    margin: auto; }
  #section-2 h3 {
    color: darkgrey;
    font-size: 2em;
    font-weight: 400;
    font-style: italic; }
  #section-2 h4 {
    color: #d0a747;
    font-size: 2em; }
  #section-2 p.drink-name {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #dfdfdf;
    font-weight: 900;
    margin-top: 2em;
    margin-bottom: .2em; }
  #section-2 p.drink-ingredients {
    color: #dfdfdf;
    font-size: 1.5em;
    font-family: ivypresto-text, serif;
    font-weight: 100;
    margin-bottom: auto; }

#section-3 {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2em;
  border-radius: 20px;
  z-index: 2; }
  #section-3 .row {
    margin: 0; }
  #section-3 .button {
    -webkit-transition: 250ms ease;
    -o-transition: 250ms ease;
    transition: 250ms ease; }
  #section-3 h2 {
    color: #d0a747;
    font-size: 3.5em;
    margin: auto; }
  #section-3 h3 {
    color: darkgrey;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    margin: auto; }
  #section-3 p {
    font-family: hypatia-sans-pro;
    line-height: 1.3;
    max-width: 100%;
    margin-top: 10px; }
  #section-3 img {
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); }
    @media (min-width: 768px) {
      #section-3 img {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        margin: -4em; } }

#section-4 {
  margin: 2em;
  z-index: 2; }
  #section-4 h2 {
    color: #d0a747;
    font-size: 3.5em;
    margin: auto; }
  #section-4 h3 {
    color: darkgrey;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    margin: auto; }
  #section-4 p {
    font-family: hypatia-sans-pro;
    color: #dfdfdf;
    line-height: 1.3;
    margin-top: 10px;
    max-width: 90%; }
  #section-4 .button {
    -webkit-transition: 250ms ease;
    -o-transition: 250ms ease;
    transition: 250ms ease; }
  @media (min-width: 768px) {
    #section-4 img {
      -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
      transform: scale(1.6);
      margin-left: -4em;
      margin-top: 12em; } }

#section-5 {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2em;
  border-radius: 20px;
  z-index: 2; }
  #section-5 .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0; }
  #section-5 .staff {
    text-align: center;
    width: auto; }
  #section-5 img.left {
    width: 50%;
    height: auto;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); }
    @media (min-width: 768px) {
      #section-5 img.left {
        -webkit-transform: scale(4);
        -ms-transform: scale(4);
        transform: scale(4);
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        margin: 0 auto; } }
  #section-5 img.right {
    width: 50%;
    height: auto;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); }
    @media (min-width: 768px) {
      #section-5 img.right {
        -webkit-transform: scale(4);
        -ms-transform: scale(4);
        transform: scale(4);
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        margin: 0 auto; } }
  #section-5 h2 {
    color: #d0a747;
    margin-bottom: .5em;
    padding: 0; }
  #section-5 h4 {
    color: #d0a747;
    font-size: 2em; }
  #section-5 p.name {
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 100;
    margin: auto; }
  #section-5 p.job {
    font-size: 1em;
    font-family: ivypresto-text, serif;
    font-weight: 300;
    margin: auto;
    margin-bottom: 1em; }

/* HERO SECTION */
.hero {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 2em;
  color: white;
  background-image: url(../img/EP_hero_pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 85%; }

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px; }

/* SITE-HEADER SITE-NAV */
.site-header .site-nav .menu-button {
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
  border-radius: 0%;
  margin: 0;
  font-size: 1.5em;
  line-height: 1;
  z-index: 20;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease; }
  .site-header .site-nav .menu-button:after {
    content: none; }
  .site-header .site-nav .menu-button:hover {
    -webkit-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    transform: translate(-5px, 0); }
  .site-header .site-nav .menu-button svg {
    fill: #fdf0b9; }
    .site-header .site-nav .menu-button svg rect {
      -webkit-transition: 250ms ease-out;
      -o-transition: 250ms ease-out;
      transition: 250ms ease-out; }

.site-header .site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #d0a747;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: 250ms all ease-out;
  -o-transition: 250ms all ease-out;
  transition: 250ms all ease-out;
  font-family: hypatia-sans-pro, helvetica, arial;
  font-weight: 400;
  z-index: 10; }

.site-header .site-nav li {
  font-size: 4vw;
  -webkit-transform: translate(10%, 0);
  -ms-transform: translate(10%, 0);
  transform: translate(10%, 0);
  -webkit-transition: 250ms all ease-in-out 250ms;
  -o-transition: 250ms all ease-in-out 250ms;
  transition: 250ms all ease-in-out 250ms;
  opacity: 0; }

.site-header .site-nav li.about {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s; }

.site-header .site-nav li.menu {
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s; }

.site-header .site-nav li.playlist {
  -webkit-transition-delay: .8s;
  -o-transition-delay: .8s;
  transition-delay: .8s; }

.site-header .site-nav li.coffee {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s; }

.site-header .site-nav .menubar-top,
.site-header .site-nav .menubar-middle,
.site-header .site-nav .menubar-bottom {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.site-header .site-nav[data-navstate="open"] .menu-button {
  position: fixed; }

.site-header .site-nav[data-navstate="open"] .menubar-top {
  -webkit-transform: translate(7px, 7px) rotate(-45deg);
  -ms-transform: translate(7px, 7px) rotate(-45deg);
  transform: translate(7px, 7px) rotate(-45deg);
  fill: black; }

.site-header .site-nav[data-navstate="open"] .menubar-middle {
  opacity: 0; }

.site-header .site-nav[data-navstate="open"] .menubar-bottom {
  -webkit-transform: translate(0, -4px) rotate(45deg);
  -ms-transform: translate(0, -4px) rotate(45deg);
  transform: translate(0, -4px) rotate(45deg);
  fill: black; }

.site-header .site-nav[data-navstate="open"] ul {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.site-header .site-nav[data-navstate="open"] li {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

/* SITE-FOOTER SITE-NAV */
.site-footer .site-nav ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }

.site-footer .site-nav a {
  display: block;
  padding: 1em;
  line-height: 1; }

/* ANIMATIONS */
@-webkit-keyframes opacity {
  from {
    opacity: 0; } }
@keyframes opacity {
  from {
    opacity: 0; } }

body {
  -webkit-animation: opacity 1s ease;
  animation: opacity 1s ease;
  margin: 0; }

.hero .container > *,
.hero[data-sectionstate="inactive"] .container > * {
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  transform: translate(0, -20px);
  opacity: 0; }
  .hero .container > *:nth-child(1),
  .hero[data-sectionstate="inactive"] .container > *:nth-child(1) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s; }
  .hero .container > *:nth-child(2),
  .hero[data-sectionstate="inactive"] .container > *:nth-child(2) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s; }
  .hero .container > *:nth-child(3),
  .hero[data-sectionstate="inactive"] .container > *:nth-child(3) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s; }
  .hero .container > *:nth-child(4),
  .hero[data-sectionstate="inactive"] .container > *:nth-child(4) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s; }
  .hero .container > *:nth-child(5),
  .hero[data-sectionstate="inactive"] .container > *:nth-child(5) {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }

.hero[data-sectionstate="active"] .container > *,
.hero[data-sectionstate="inactive"][data-sectionstate="active"] .container > * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

#section-1, #section-3,
#section-5 {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  #section-1[data-sectionstate="active"], #section-3[data-sectionstate="active"],
  #section-5[data-sectionstate="active"] {
    opacity: 1; }
  #section-1 .one-half:nth-child(1), #section-3 .one-half:nth-child(1),
  #section-5 .one-half:nth-child(1) {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
    opacity: 0; }
  #section-1[data-sectionstate="active"] .one-half:nth-child(1), #section-3[data-sectionstate="active"] .one-half:nth-child(1),
  #section-5[data-sectionstate="active"] .one-half:nth-child(1) {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  #section-1 .one-half:nth-child(2), #section-3 .one-half:nth-child(2),
  #section-5 .one-half:nth-child(2) {
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
    -webkit-transition-delay: .1;
    -o-transition-delay: .1;
    transition-delay: .1; }
  #section-1[data-sectionstate="active"] .one-half:nth-child(2), #section-3[data-sectionstate="active"] .one-half:nth-child(2),
  #section-5[data-sectionstate="active"] .one-half:nth-child(2) {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }

.animate-scale-in,
[data-sectionstate="inactive"] .animate-scale-in {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

[data-sectionstate="active"] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.animate-slide-up,
[data-sectionstate="inactive"] .animate-slide-up {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(0, 60px);
  -ms-transform: translate(0, 60px);
  transform: translate(0, 60px); }

[data-sectionstate="active"] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.animate-slide-left,
[data-sectionstate="inactive"] .animate-slide-left {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

[data-sectionstate="active"] .animate-slide-left {
  opacity: 1;
  -webkit-transform: translate(-200px, 0);
  -ms-transform: translate(-200px, 0);
  transform: translate(-200px, 0); }

.animate-slide-right,
[data-sectionstate="inactive"] .animate-slide-right {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(-60px, 0);
  -ms-transform: translate(-60px, 0);
  transform: translate(-60px, 0); }

[data-sectionstate="active"] .animate-slide-right {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.animate-slide-right-section-5,
[data-sectionstate="inactive"] .animate-slide-right-section-5 {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

[data-sectionstate="active"] .animate-slide-right-section-5 {
  opacity: 1;
  -webkit-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  transform: translate(200px, 0); }

.animate-drop-in-with-delay *,
[data-sectionstate="inactive"] .animate-drop-in-with-delay * {
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: translate(20px, 0);
  -ms-transform: translate(20px, 0);
  transform: translate(20px, 0);
  opacity: 0; }
  .animate-drop-in-with-delay *:nth-child(1),
  [data-sectionstate="inactive"] .animate-drop-in-with-delay *:nth-child(1) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s; }
  .animate-drop-in-with-delay *:nth-child(2),
  [data-sectionstate="inactive"] .animate-drop-in-with-delay *:nth-child(2) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s; }
  .animate-drop-in-with-delay *:nth-child(3),
  [data-sectionstate="inactive"] .animate-drop-in-with-delay *:nth-child(3) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s; }
  .animate-drop-in-with-delay *:nth-child(4),
  [data-sectionstate="inactive"] .animate-drop-in-with-delay *:nth-child(4) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s; }
  .animate-drop-in-with-delay *:nth-child(5),
  [data-sectionstate="inactive"] .animate-drop-in-with-delay *:nth-child(5) {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }

[data-sectionstate="active"] .animate-drop-in-with-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.animate-scale-in-with-delay *,
[data-sectionstate="inactive"] .animate-scale-in-with-delay * {
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0; }
  .animate-scale-in-with-delay *:nth-child(1),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(1) {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s; }
  .animate-scale-in-with-delay *:nth-child(2),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s; }
  .animate-scale-in-with-delay *:nth-child(3),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s; }
  .animate-scale-in-with-delay *:nth-child(4),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s; }
  .animate-scale-in-with-delay *:nth-child(5),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }
  .animate-scale-in-with-delay *:nth-child(6),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s; }
  .animate-scale-in-with-delay *:nth-child(7),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s; }
  .animate-scale-in-with-delay *:nth-child(8),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s; }
  .animate-scale-in-with-delay *:nth-child(9),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s; }
  .animate-scale-in-with-delay *:nth-child(10),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(10) {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }
  .animate-scale-in-with-delay *:nth-child(11),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(11) {
    -webkit-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s; }
  .animate-scale-in-with-delay *:nth-child(12),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(12) {
    -webkit-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
    transition-delay: 1.2s; }
  .animate-scale-in-with-delay *:nth-child(13),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(13) {
    -webkit-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s; }
  .animate-scale-in-with-delay *:nth-child(14),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(14) {
    -webkit-transition-delay: 1.4s;
    -o-transition-delay: 1.4s;
    transition-delay: 1.4s; }
  .animate-scale-in-with-delay *:nth-child(15),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(15) {
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s; }
  .animate-scale-in-with-delay *:nth-child(16),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(16) {
    -webkit-transition-delay: 1.6s;
    -o-transition-delay: 1.6s;
    transition-delay: 1.6s; }
  .animate-scale-in-with-delay *:nth-child(17),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(17) {
    -webkit-transition-delay: 1.7s;
    -o-transition-delay: 1.7s;
    transition-delay: 1.7s; }
  .animate-scale-in-with-delay *:nth-child(18),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(18) {
    -webkit-transition-delay: 1.8s;
    -o-transition-delay: 1.8s;
    transition-delay: 1.8s; }
  .animate-scale-in-with-delay *:nth-child(19),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(19) {
    -webkit-transition-delay: 1.9s;
    -o-transition-delay: 1.9s;
    transition-delay: 1.9s; }
  .animate-scale-in-with-delay *:nth-child(20),
  [data-sectionstate="inactive"] .animate-scale-in-with-delay *:nth-child(20) {
    -webkit-transition-delay: none;
    -o-transition-delay: none;
    transition-delay: none; }

[data-sectionstate="active"] .animate-scale-in-with-delay * {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
