/* BUTTONS */

.button, button {
  border: none;
  display: inline-block;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  position: relative;
  color: $color-background-dark;
  font-weight: 700;
  font-size: 15px;
  background-color: $color-accent-light ;
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  border-radius: 10px;

  span {
      position: relative;
      z-index: 10;
  }

  &:hover {
      color: $color-background-dark;
      transition: all 1s ease-in-out;
  }

&:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: $color-background-light;
  transition: all .5s ease-in-out;
  transform: translateX(-110%) translateY(-10%) rotate(45deg);
}

}

.below-menu {
    margin-top: 3em;
    &:after {
    transform: translateX(-120%) translateY(-10%) rotate(45deg);
    }
    &:hover::after {
        transform: translateX(-20%) translateY(-25%) rotate(45deg);
    }
} 

.playlist {
    &:after {
        transform: translateX(-120%) translateY(-5%) rotate(45deg);
    }
    &:hover::after {
        transform: translateX(-30%) translateY(-25%) rotate(45deg);
    }
}

.below-coffee {
    &:after {
        transform: translateX(-95%) translateY(-5%) rotate(45deg);
    }
    &:hover::after {
        transform: translateX(-30%) translateY(-25%) rotate(45deg);
    }
}
